package-lock.json
package.json
wireframe.png
node_modules
/node_modules

#Ignorar archivos del sistema MAC
.DS_store
#ignora  archivos 
img_cache
#ignora archivos de texto
*.txt 
#ignora el archivo background.jpg
background.jpg